<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="card-body">               
                <input class="p-1" type="text" [(ngModel)]="Recherche">
                <button (click)="searchEtudiant()" class="btn btn-outline-success ms-1">
                    <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-primary ms-2" (click)="onNewEtudiants()">Nouveau Etudiants</button>
            </div>
            <h4 style="color: rgb(47, 28, 44);">Liste Des Etudiants</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Domain</th>
                        <th>checked</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let etudiant of etudiants">
                        <td>{{ etudiant.firstname }}</td>
                        <td>{{ etudiant.lastname }}</td>
                        <td>{{ etudiant.email }}</td>
                        <td>{{ etudiant.domain }}</td>
                        <td>
                            <button (click)="handleCheckEtudiant(etudiant)" class="btn btn-outline-success">
                                <i [class]="etudiant.checked ? 'bi bi-check' : 'bi bi-circle'"></i>
                            </button>
                        </td>
                        <td>
                            <button (click)="handleDelete(etudiant)" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
