<img src="../../assets/img/netcomsn-registering-banner.webp" alt="Description de l'image" [style.width.px]="1150" [style.height.px]="400" style="margin-left: -107.5px;">

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Sign Up</h1>
            <h6>Register yourself!</h6>
          </div>
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="name" formControlName="fullname">
              </div>
              <!--<div class="form-group">
                <label for="exampleInputPassword1">Telephone</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="number" formControlName="number">
              </div>-->
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control mb-2" id="exampleInputPassword1" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
          </form>
          <a style="color: #fff; margin-top: 10px;" routerLink="/autentification/signin">Login</a>
        </div>
      </div>
    </div>
  </div>
  