.card {
  border: none;
  width: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  background: rgba(0, 128, 0, 0.9);
  /* Le dernier nombre (0.9) spécifie l'opacité, vous pouvez ajuster cette valeur selon vos besoins */
  background: linear-gradient(90deg, rgba(224, 151, 222, 0.9), rgba(113, 222, 230, 0.9) 100%);
}

.card h1,
.card h6 {
  color: #fff;
}

label {
  color: #efff;
}
